.site-container {
  width: 100%;
  margin: auto;
  max-width: 1190px;
  padding-left: 20px;
  padding-right: 20px;

  @media only screen and (max-width: 1199px) {}

  @media only screen and (max-width: 991px) {}

  @media only screen and (max-width: 767px) {}

  @media only screen and (max-width: 575px) {}
}